@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefef;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.main-header {
  background-color: #cf5d52;
  color: #efefef;
  font-size: 1.8rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.contact-header {
  background-color: #302f2b;
  color: #efefef;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
}
.contact-header .right-contact {
  text-align: right;
}
.contact-header a {
  text-decoration: none;
  color: #efefef;
}
.contact-header p {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 0.15rem;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  padding: 0.5rem 0.5rem;
}

.about {
  background-color: #302f2b;
  border: #302f2b 4px solid;
  border-top: 0;
  border-radius: 2px;
}
.about h1 {
  color: #efefef;
  font-size: 2.7rem;
  letter-spacing: 0.8rem;
  font-weight: 800;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.about .about-content {
  background-color: #efefef;
  padding: 0 0.5rem 0.5rem;
}
.about .about-content p {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
  line-height: 1.7rem;
  color: black;
}
.about .about-content .red-par {
  color: #cf5d52;
  font-weight: 700;
}
.about .about-content .about-flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.about .about-content .about-flex .about-par {
  padding-right: 6rem;
}
.about .about-content .about-flex img {
  width: 180%;
  height: 80%;
  top: -0.75rem;
  transform: rotate(-20deg);
  position: absolute;
}

.projects {
  margin-top: 10px;
}
.projects .top-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}
.projects .top-projects div {
  border: #302f2b 4px solid;
  border-radius: 2px;
}
.projects div {
  font-size: 1rem;
}
.projects div h1 {
  font-weight: 800;
  text-transform: uppercase;
}
.projects .project3 {
  border: #302f2b 4px solid;
  border-radius: 2px;
  margin-top: 10px;
}
.projects .project3 h1 {
  color: #cf5d52;
  font-size: 2.65rem;
  font-weight: 700;
  padding: 0 0.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
.projects .project1 {
  height: 100%;
}
.projects .project1 h1 {
  background-color: #cf5d52;
  color: #efefef;
  font-size: 2.1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: center;
}
.projects .project2 {
  height: 100%;
}
.projects .project2 .project2-padding {
  padding-bottom: 1.1rem;
}
.projects .project2 h1 {
  background-color: #302f2b;
  color: #cf5d52;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 0 0.5rem 4px;
  text-align: center;
  letter-spacing: 0.15rem;
}

.right-content div {
  border: #302f2b 4px solid;
  border-radius: 2px;
}
.right-content .top-content {
  margin-bottom: 10px;
  padding: 0.5rem;
  padding-top: 0;
}
.right-content .top-content .ed-container {
  border: none;
  display: flex;
  position: relative;
}
.right-content .top-content .ed-container div {
  border: none;
}
.right-content .top-content .ed-container img {
  position: absolute;
  width: 25rem;
  height: 11rem;
  top: -5rem;
  left: -2.5rem;
  z-index: 100000;
  rotate: -20deg;
}
.right-content .top-content h1 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.right-content .top-content p {
  font-weight: 600;
  line-height: 1.7rem;
  color: black;
}
.right-content .top-content .ed-par1 {
  color: black;
}
.right-content .top-content .ed-par2 {
  padding-right: 4rem;
  color: black;
}
.right-content .top-content .red-par {
  color: #cf5d52;
  font-weight: 700;
}
.right-content .bottom-content {
  margin-bottom: 10px;
}
.right-content .bottom-content h1 {
  background-color: #cf5d52;
  color: #302f2b;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.right-content .bottom-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7rem;
}
.right-content .bottom-content p span {
  color: #cf5d52;
  font-weight: 700;
}
.right-content .bottom-content p .bullet {
  color: #302f2b;
  font-size: 2.3rem;
}
.right-content .bottom-content section {
  padding: 0rem 0.5rem 0.5rem;
}
.right-content .bottom-content section .computer-container {
  border: none;
  display: flex;
  position: relative;
}
.right-content .bottom-content section .computer-container img {
  width: 160%;
  height: 120%;
  position: absolute;
  top: 0.5rem;
}
.right-content .bottom-project {
  border: #302f2b 4px solid;
  padding-bottom: 0.1rem;
}
.right-content .bottom-project h1 {
  color: #efefef;
  background-color: #302f2b;
  font-size: 2.25rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.right-content .bottom-project .teacher-container {
  border: none;
  padding: 0.5rem 0.5rem 0;
}
.right-content .bottom-project .teacher-container .teacher-img {
  border: none;
  display: flex;
  position: relative;
  padding-left: 4rem;
}
.right-content .bottom-project .teacher-container .teacher-img p {
  text-align: right;
  padding-right: 1rem;
}
.right-content .bottom-project .teacher-container .teacher-img img {
  width: 120%;
  height: 180%;
  position: absolute;
  top: -2.5rem;
  left: -5rem;
}
.right-content .bottom-project p {
  background-color: #efefef;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.7rem;
  padding-bottom: 0.03rem;
}
.right-content .bottom-project .red-par {
  color: #cf5d52;
  font-weight: 700;
}

a {
  color: #302f2b;
  text-decoration: none;
}

.skill {
  color: #cf5d52;
  font-weight: 700;
}

.project-content {
  border: none !important;
  padding: 0.5rem;
}
.project-content p {
  line-height: 1.775rem;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 0.25rem;
  color: black;
}
.project-content .skills {
  border: none !important;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.25rem;
  gap: 5px;
}
.project-content .skills p {
  background: #cf5d52;
  color: #efefef;
  padding: 0px 6px;
  font-weight: 700;
  border-radius: 3px;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

@media print {
  body {
    width: 825px;
    height: 1175px;
    margin: 0 0 0 0;
  }
}
/*
How to save

A4
custom scale 144

Background graphics



*//*# sourceMappingURL=style.css.map */